.home .feature {
    flex-basis: 45% !important;
    max-width: 45% !important;
  }
  @media (max-width: 719px){
    .home .feature {
      max-width: 100% !important;
      padding: 0 2.5rem !important;
    }
  }
  
  .home .doc_link:hover {
      border-bottom-width: 10px;
      border-bottom-style: solid;
      padding-bottom: 3px;
      border-color: red;
  }