<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">
</head>
<body>
  <div class="header">
    <img src="{{ site.baseurl }}/assets/images/credeaulogo.png" alt="Credeau Logo" class="logo" />
    <h1 class="title">Credeau Docs</h1>
  </div>

  <div class="layout">
    <div class="sidebar">
      <h2>Overview</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/introduction.html">Introduction</a></li>
        <li><a href="{{ site.baseurl }}/gettingstarted.html">Getting Started</a></li>
        <li><a href="{{ site.baseurl }}/integration.html">Integration</a></li>
      </ul>
    
      <h2>Data Collection</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/frontendintegration.html">Frontend Integration</a></li>
      </ul>
  </div>
    <div class="content">
      <p style="color:red;">This is from default.html layout</p>
      {{ content }}
    </div>
  </div>
</body>
</html>